.App {
  text-align: center;
  background-color: darkslategray;
}

.App-link {
  color: dodgerblue;
}

body {
  background-color: darkslategray;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-page .paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.login-page .btn {
  color: #191414 !important;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #1db954 !important;
}

.login-page .btn:hover {
  background-color: #138039 !important;
  color: #FFFFFF !important;
}

.login-page .btn svg {
  margin-right: 5px;
  fill: #191414;
  transition: 0.3s;
}

.login-page .btn:hover svg {
  fill: #FFFFFF !important;
  transition: 0.3s;
}

.main-page .song-link-label {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.main-page input {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 35%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.main-page .buttons {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  display: inline-block;
  text-align: center;
}

.song-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.song {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .song {
    background-color: var(--accent-1);
  }
}

.song img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.song-info {
  margin-top: 10px;
}

.song-link {
  margin-top: 10px;
  color: #1db954;
  text-decoration: none;
  font-size: 18px;
}


